* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; }
  .wrapper header {
    background: linear-gradient(rgba(0, 0, 0, 0.25), #fff), #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    min-width: 300px;
    position: relative;
    width: 100%; }
    .wrapper header img#face {
      border-radius: 100%;
      height: auto;
      border: 5px solid white;
      width: 200px;
      position: absolute;
      bottom: -35px; }
  .wrapper #blurb {
    text-align: center;
    color: #444;
    font-size: 18px;
    font-family: 'Merriweather', sans-serif;
    margin-top: 70px;
    padding: 0 35px;
    max-width: 400px;
    height: 33%; }
    .wrapper #blurb h4 {
      margin-top: 0; }
    .wrapper #blurb p {
      font-weight: 300;
      max-width: 940px;
      margin: 1rem auto; }
  .wrapper footer {
    background: linear-gradient(#fff, rgba(0, 0, 0, 0.25)), #009688;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 33%;
    width: 100%; }
    .wrapper footer .link-container {
      position: absolute;
      bottom: 1rem;
      right: 1rem; }
      .wrapper footer .link-container a {
        display: inline-block;
        margin-bottom: 0;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none; }
        .wrapper footer .link-container a:first-of-type {
          margin-right: 1rem; }
        .wrapper footer .link-container a img {
          height: 40px; }
        .wrapper footer .link-container a svg {
          width: 40px;
          height: 40px; }
          .wrapper footer .link-container a svg path {
            fill: white; }
    .wrapper footer button {
      font-family: Merriweather, sans-serif;
      flex: 0 0 20%;
      display: inline-block;
      padding: 1rem;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 300;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px; }
      .wrapper footer button:hover {
        background: #aaa; }
      .wrapper footer button:last-of-type {
        margin-left: 1.5rem; }
