$red: #d80b36;
$dark-red: #a60000;
$orange: #f67035;
$pink: #ff2bd8;
$blue: #0030f9;
$yellow: #ffd438;
$green: #5db348;
$gray: #444;
$blue-gray:#71716f;
$pink-purple: #9C27B0;
$purple: #673ab7;


$background_splash:linear-gradient(rgba(0,0,0,0.25), #fff),#009688;

$background_footer:linear-gradient(#fff,rgba(0,0,0,0.25)),#009688;

$color_splish-splash_left: #fff;
$color_splish-splash_right: #fff;
$color_center-circle: #fff;


*{
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
  height: 100%;
}



.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  header {
    //background: linear-gradient($blue-gray,$purple);
    background: $background_splash;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    min-width: 300px;
    position: relative;
    width: 100%;

    img#face{
      border-radius: 100%;
      height: auto;
      border: 5px solid white;
      width: 200px;
      position: absolute;
      bottom: -35px;
    }
  }

  #blurb{
    text-align: center;
    color: #444;
    //color: #fff;
    font-size: 18px;
    font-family: 'Merriweather', sans-serif;
    margin-top: 70px;
    padding: 0 35px;
    max-width: 400px;
    height: 33%;

    h4{
      margin-top: 0;
    }

    p{
      font-weight: 300;
      max-width: 940px;
      margin: 1rem auto;
      //text-align: left;
    }
  }

  footer{
    //flex:
    background: $background_footer;
    //flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //padding-top: 3rem;
    height: 33%;
    width: 100%;

    .link-container{
      position: absolute;
      bottom:1rem;
      right:1rem;

      a{
        display: inline-block;
        //padding: 1rem;
        margin-bottom: 0;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;

        &:first-of-type{
          margin-right: 1rem;
        }

        img{
          height: 40px;
        }

        svg{
          width: 40px;
          height: 40px;
          path{
            fill: white;
          }
        }
      }
    }

    button{
      font-family: Merriweather, sans-serif;
      flex: 0 0 20%;
      //margin: auto;
      //padding: 1rem;
      //border-radius: 10px;
      display: inline-block;
      padding: 1rem;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 300;
      //line-height: 1.42857143;
      //text-align: center;
      //white-space: nowrap;
      //vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;

      &:hover{
        background: #aaa;
        //font-weight: 400;

      }

      &:last-of-type{
        margin-left: 1.5rem;
      }
    }
  }
}
